.dashboard-sideBar {
  width: 172px;
  border-right: 5px solid var(--gray-color);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  height: 100vh;
}
.dashboard-sideBar-mobile {
  width: 172px;
  border-right: 5px solid var(--gray-color);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  height: 100vh;
}

@media (max-width: 1150px) {
  .dashboard-sideBar {
    display: none;
  }
}
