.add-prospect {
  width: 31.75rem;
  position: absolute;
  top: 15%;
  left: 24rem;
  background-color: #fff;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 1px 1px 10px black, -1px 1px 10px black;
}

.add-prospect header {
  height: 6.6rem;
  background-color: #d9d9d9;
  padding-top: 0.9rem;
}

.add-prospect header h2 {
  font-size: 1.5rem;
  text-align: center;
  font-weight: 700;
}

.add-prospect header p {
  font-size: 0.93rem;
  width: 26.9rem;
  margin-left: 5rem;
  margin-bottom: 0.75rem;
}

.add-prospect form {
  gap: 1.25rem;
  align-items: start;
  width: 70%;
  margin: 2.6rem auto 1.8rem;
}

.add-prospect label {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5rem;
}

.add-prospect form .flexs {
  gap: 1.1875rem;
  justify-content: space-between;
  width: 100%;
}

.add-prospect form input {
  width: 18.125rem;
  height: 2rem;
  border-radius: 10px;
  padding: 0.5rem 0 0.4375rem 0.8125rem;
  border: 1px solid #d9d9d9;
}

.add-prospect button {
  margin-bottom: 2.625rem;
  background-color: #d9d9d9;
  font-weight: 500;
  font-size: 0.8125rem;
}

.btn-con {
  width: fit-content;
  gap: 0.75rem;
  margin: 0 auto;
}
