.prospect-card {
  min-width: 22.4rem;
  height: 7.7rem;
  border: 1px solid;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  justify-content: start;
  gap: 2.75rem;
  padding-right: 1.3rem;
}

.color {
  position: absolute;
  left: 0;
}

.info {
  margin-left: 1.375rem;
  align-items: start;
  gap: 0.9rem;
}
.info .icon {
  width: 0.93rem;
  aspect-ratio: 1;
  background-color: #373636;
}

.info .flexs {
  justify-content: start;
  gap: 0.31rem;
}

.prospect-card .img {
  width: 6.25rem;
  aspect-ratio: 1;
  background-color: #373636;
  border-radius: 50%;
  color: #fff;
  font-size: 1.872rem;
  font-weight: 600;
}

.prospect-list {
  display: grid;
  grid-template-columns: repeat(3, 22.4rem);
  gap: 4.435rem;
  list-style: none;
  place-content: center;
}

.prospects {
  position: relative;
  padding-bottom: 2rem;
}

.prospects h1 {
  font-size: 3rem;
  font-weight: 600;
  margin: 1.5rem 0 0.875rem 3.4375rem;
}

.widget-container {
  margin: 0 1.5rem 0 3.4375rem;
  gap: 3rem;
}

input[id="project"] {
  width: 22.25rem;
  height: 2.625rem;
  border-radius: 10px;
  border: 1px solid #dddddd;
  margin: 2.93rem 0 1.18rem 3.4375rem;
  padding: 0.56rem 0 0.56rem 1.31rem;
  font-size: 1rem;
}

.prospects button {
  width: 5.18rem;
  height: 2.62rem;
  border-radius: 10px;
  border: 1px solid #dddddd;
  background-color: #fff;
}

.button-container {
  justify-content: start;
  padding-left: 3.4375rem;
  margin-bottom: 1.875rem;
  gap: 0.625rem;
}

#add-project {
  position: absolute;
  width: 11.2rem;
  height: 3rem;
  right: 1.5rem;
  top: 1rem;
  gap: 0.6rem;
}

#add-project span {
  font-size: 1.2rem;
  font-weight: 600;
}
.change {
  position: absolute;
  top: 18rem;
  right: 10%;
}

.change button:nth-child(1) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  font-size: 1.5rem;
  color: white;
  height: 3rem;
}

.change button:nth-child(2) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  font-size: 1.5rem;
  height: 3rem;
}
